{% extends "base.html.twig" %}


{% block title %}Création d'un produit{% endblock %}

{% form_theme myForm 'product/_collection.html.twig' %} 

{% block body %}
    <div class="container">
        <h1>Création d'un nouveau produit</h1>

        {{ form_start(myForm) }}

            {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>

        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('produit')}}
{% endblock %}
